{% extends "base.html" %}
{% load i18n %}
{% block page_title %}
{{user.first_name}}'s Reservations
{% endblock page_title %}

{% block content %}
<div class="container mx-auto text-center">
    <div class="flex flex-col items-center justify-center">
        {% include "mixins/user_avatar.html" with user=user %}
        <h3 class="mb-6 mt-4 text-2xl">{{user.first_name}}'s Reservation list</h3>
    </div>
    {% if reservations.count > 0 %}
    <div class="border-gray-500 border w-1/2 p-5 mx-auto flex flex-col justify-between">
        {% for reservation in reservations %}
        <div class="flex">
            {% include "partials/room_card.html" with room=reservation.room on_reservation=1 %}
            <div class="flex flex-col mx-auto">
                <span class="">STATUS</span><span class="
                    {% if reservation.status == 'canceled' %}text-red-500
                    {% elif reservation.status == 'pending' %}text-yellow-600
                    {% else %}text-green-500{% endif %} mb-3">{{reservation.status}}</span>
                <span class="">CHECK IN</span><span class="mb-3 text-teal-600">{{reservation.check_in}}</span>
                <span class="">CHECK OUT</span><span class="text-teal-600 mb-8">{{reservation.check_out}}</span>
                <a href="{% url 'conversations:go' reservation.room.host.pk reservation.guest.pk %}"
                    class="font-medium text-teal-500 mb-8">Send a message</a>
                <a href="{% url 'reservations:del-reservations' reservation.pk %}" class="btn-link w-32">Delete
                    Reservation</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div>You don't have any reservation</div>
    {% endif %}
</div>
{% endblock content %}